<html>
<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
</head>
<body style="font-family: 'Roboto', sans-serif;text-rendering: optimizeSpeed;font-weight: 400;font-size: 1em; color: #000;">
  <div class="plain-banner" style="width:100%;height:20px;background:#0077B5;border-radius:3px;color:#0077B5;">&nbsp;.</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <div class="container" style="margin-top:5px">
        <div class="text-justify" style="text-align:justify;">
          <p class="salutation-heading" style="font-weight: 500;font-size: 1.3em;">Hello <%= email.name%>,</p>
          <p>
            I am a 3rd year student pursuing Electronics and Communication Engineering at Indian School of Mines(ISM), Dhanbad. I am writing to apply for summer internship at <%= email.company %> as an Android Application Developer or Backend Developer.
          </p><p>
            Previously I have worked as an Android Application Developer intern at Scribbler Notebooks, Bangalore during May-June 2015. Also I have an app in Google Play Store (https://play.google.com/store/apps/details?id=architect.jazzy.medicinereminder).
          </p><p>
            Being a fresher, I am searching for opportunities to learn. Working with you would be a great opportunity for me to learn aspects of working in an organization.
          </p><p>
            Attaching my CV for your reference. Looking forward to work and learn with you.
          </p>
          </div>
          <p>
            Yours sincerely<br />
            <span class="salutation-thanks" style="font-weight: 500;font-size: 0.9em;">
              <span class="salutation"><b>Jibin Sabu Mathews</b></span><br />
              Indian Institute of Technology (ISM), Dhanbad <br />
              Contact: <a href="tel:+918877073355" class="no-highlight" style="color: #222;text-decoration:none;">+91-8877073355</a><br />
              Email: <a href="mailto:jibinmathews7@gmail.com" class="no-highlight" style="color: #222;text-decoration:none;">jibinmathews7@gmail.com</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:jibinmathews7@ece.ism.ac.in" class="no-highlight" style="color: #222;text-decoration:none;">jibinmathews7@ece.ism.ac.in</a><br /> <br />
              Link to <a href="https://goo.gl/PnbC69"> CV </a>
            </span></p>
            <a href="https://about.me/jibinmathews7" target="_blank"><img src="http://jazzyarchitects.github.io/images/aboutme.png" height="20px"></a>
            <a href="https://in.linkedin.com/in/jibinmathews7" target="_blank"><img src="http://jazzyarchitects.github.io/images/linkedin.ico" height="20px"></a>
            <a href="https://github.com/jazzyarchitects" target="_blank"><img src="http://jazzyarchitects.github.io/images/github.png" height="20px"></a>
            <a href="https://angel.co/jibin-mathews" target="_blank"><img src="http://jazzyarchitects.github.io/images/angel.jpg" height="20px"></a>
            <a href="http://stackoverflow.com/users/3788083/jazzy-architects" target="_blank"><img src="http://jazzyarchitects.github.io/images/stackoverflow.png" height="20px"></a>

          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
<div class="plain-banner" style="width:100%;height:20px;background:#0077B5;border-radius:3px;color:#0077B5;">&nbsp;.</div>

  </body>
  </html>
